In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import ipywidgets
import requests
import traceback
# Import the API key.
from config import dir_key
gmaps.configure(dir_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_data_df = pd.read_csv('weather_data/weatherpy_vacation.csv')
vacation_data_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,77.49,Few clouds,-23.12,-134.97,Pension Maro'i
1,Vaini,TO,82.40,Scattered clouds,-21.20,-175.20,Keleti Beach Resort
2,Hithadhoo,MV,83.73,Overcast clouds,-0.60,73.08,Scoop Guest House
3,Kapaa,US,78.80,Clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,Boa Vista,BR,77.00,Thunderstorm,2.82,-60.67,Aipana Plaza Hotel

In [3]:
au_df = vacation_data_df.loc[vacation_data_df['Country'] == 'AU']
au_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,Yulara,AU,75.2,Scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
38,Kununurra,AU,89.6,Broken clouds,-15.77,128.73,Hotel Kununurra
49,Alice Springs,AU,77.0,Few clouds,-23.70,133.88,Desert Palms Alice Springs
57,Carnarvon,AU,75.2,Overcast clouds,-24.87,113.63,Hospitality Carnarvon
72,Mount Isa,AU,84.2,Few clouds,-20.73,139.50,ibis Styles Mt Isa Verona
88,Gladstone,AU,78.8,Broken clouds,-23.85,151.25,Metro Hotel and Apartments Gladstone

In [4]:
kn_df = au_df.loc[au_df['City']=='Kununurra'].copy().reset_index()
kn_df

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,38,Kununurra,AU,89.6,Broken clouds,-15.77,128.73,Hotel Kununurra

In [5]:
kn=(kn_df['Lat'][0],kn_df['Lng'][0])
kn

(-15.77, 128.73)

In [6]:
mt_isa_df = au_df.loc[au_df['City']=='Mount Isa'].copy().reset_index()
mt_isa_df

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,72,Mount Isa,AU,84.2,Few clouds,-20.73,139.5,ibis Styles Mt Isa Verona

In [7]:
mt_isa=(mt_isa_df['Lat'][0],mt_isa_df['Lng'][0])
mt_isa

(-20.73, 139.5)

In [8]:
alice_spr_df = au_df.loc[au_df['City']=='Alice Springs'].copy().reset_index()
alice_spr_df

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,49,Alice Springs,AU,77.0,Few clouds,-23.7,133.88,Desert Palms Alice Springs

In [9]:
alice_spr=(alice_spr_df['Lat'][0],alice_spr_df['Lng'][0])
alice_spr

(-23.7, 133.88)

In [10]:
yulara_df = au_df.loc[au_df['City']=='Yulara'].copy().reset_index()
yulara_df

,index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,27,Yulara,AU,75.2,Scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort

In [11]:
yulara=(yulara_df['Lat'][0],yulara_df['Lng'][0])
yulara

(-25.24, 130.99)

In [28]:
fig = gmaps.figure()
waypoints = [mt_isa, alice_spr]
australia = gmaps.directions_layer(kn, yulara, waypoints=waypoints, travel_mode='DRIVING', show_markers = False)
fig.add_layer(australia)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
trip_df=au_df.drop([57,88]).copy()
trip_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,Yulara,AU,75.2,Scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
38,Kununurra,AU,89.6,Broken clouds,-15.77,128.73,Hotel Kununurra
49,Alice Springs,AU,77.0,Few clouds,-23.70,133.88,Desert Palms Alice Springs
72,Mount Isa,AU,84.2,Few clouds,-20.73,139.50,ibis Styles Mt Isa Verona

In [33]:
# Hotel Locations
# Get the latitude and longitude.

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} at {Max Temp} F Degrees</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in trip_df.iterrows()]

locations = trip_df[['Lat', 'Lng']]
# Assign the figure variable.
fig = gmaps.figure()
# Add markers.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the marker layer.
fig.add_layer(australia)
fig.add_layer(markers)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))