In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import traceback
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alexandria,EG,2020-04-18 05-45:48,31.22,29.96,64.40,82,0,8.05
1,1,Coahuayana,MX,2020-04-18 05-45:49,18.73,-103.68,76.05,49,66,3.22
2,2,Severo-Kurilsk,RU,2020-04-18 05-45:49,50.68,156.12,33.30,90,6,13.29
3,3,Rikitea,PF,2020-04-18 05-45:50,-23.12,-134.97,77.14,67,0,5.32
4,4,Cururupu,BR,2020-04-18 05-45:50,-1.83,-44.87,75.58,92,100,1.74

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature.
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Coahuayana,MX,2020-04-18 05-45:49,18.73,-103.68,76.05,49,66,3.22
3,3,Rikitea,PF,2020-04-18 05-45:50,-23.12,-134.97,77.14,67,0,5.32
4,4,Cururupu,BR,2020-04-18 05-45:50,-1.83,-44.87,75.58,92,100,1.74
10,10,Avarua,CK,2020-04-18 05-44:18,-21.21,-159.78,77.00,73,5,4.70
16,16,Yulara,AU,2020-04-18 05-41:21,-25.24,130.99,87.80,22,9,3.36
20,20,Saint-Philippe,RE,2020-04-18 05-45:59,-21.36,55.77,82.40,58,40,5.82
24,24,Puerto Ayora,EC,2020-04-18 05-46:01,-0.74,-90.35,75.99,92,73,3.00
26,26,Kudahuvadhoo,MV,2020-04-18 05-46:02,2.67,72.89,85.23,72,71,8.37
28,28,Bengkulu,ID,2020-04-18 05-44:40,-3.80,102.27,84.70,71,72,5.50
31,31,Cabinda,AO,2020-04-18 05-46:05,-5.55,12.20,78.30,89,93,6.93

In [38]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df

           City Country  Max Temp    Lat     Lng Hotel Name
1    Coahuayana      MX     76.05  18.73 -103.68
3       Rikitea      PF     77.14 -23.12 -134.97
4      Cururupu      BR     75.58  -1.83  -44.87
10       Avarua      CK     77.00 -21.21 -159.78
16       Yulara      AU     87.80 -25.24  130.99
..          ...     ...       ...    ...     ...        ...
532       Kieta      PG     83.80  -6.22  155.63
540      Muisne      EC     77.90   0.60  -80.03
541     Goundam      ML     82.62  16.41   -3.67
545        Miri      MY     89.60   4.41  114.01
547    Marovoay      MG     82.40 -16.10   46.63

[158 rows x 6 columns]

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']

    # Add the latitude and longitude to location key for the params dictionary.
    params = {"radius": 5000,"type": "lodging","key": g_key,'location':f'{lat},{lng}'}
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    hotels
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        traceback.print_exc()
        print('Hotel not found...skipping.')

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

Hotel not found...skipping.
Hotel not found...skipping.

Traceback (most recent call last):
  File "<ipython-input-53-2c360d42ae5c>", line 16, in <module>
    hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
IndexError: list index out of range

In [47]:
test=(requests.get(base_url, params = {"radius": 5000,"type": "lodging","key": g_key,'location':hotel_df['Lat'],hotel_df['Lng']}).json())
test

SyntaxError: invalid syntax (<ipython-input-47-d109b1ae2df5>, line 1)

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Coahuayana,MX,76.05,18.73,-103.68,Hotel Los Arcos
3,Rikitea,PF,77.14,-23.12,-134.97,Pension Maro'i
4,Cururupu,BR,75.58,-1.83,-44.87,Pousada Través'cia
10,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
16,Yulara,AU,87.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
...,...,...,...,...,...,...
532,Kieta,PG,83.80,-6.22,155.63,
540,Muisne,EC,77.90,0.60,-80.03,Quinta Samay
541,Goundam,ML,82.62,16.41,-3.67,
545,Miri,MY,89.60,4.41,114.01,"Mega Hotel, Miri"
547,Marovoay,MG,82.40,-16.10,46.63,